

#carousel-container {
    position: relative;
      justify-content: center;
      align-items: center;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

